{% extends 'base.html' %}
{% block content %}
<main>
    <div class="container-fluid tm-container-content tm-mt-60">
        {% if username %}
        <div class="row mb-4">
            <h2 class="col-6 tm-text-primary">
                All articles
            </h2>
        </div>
        {% else %}
        <h2 class="col-6 tm-text-primary">
            Latest articles
        </h2>
        {% endif %}
    </div>
    <div class="row tm-mb-90 tm-gallery">
        {% for article in Articles %}
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 mb-5">
            <figure class="effect-ming tm-video-item">
                <img src="/static/img/img-03.jpg" alt="Image" class="img-fluid">
                <figcaption class="d-flex align-items-center justify-content-center">
                    <h2>{{ article[2] }}</h2>
                    <a href="{{ url_for('article', identifiant=article[0]) }}">View more</a>
                </figcaption>                    
            </figure>
            <div class="d-flex justify-content-between tm-text-gray">
                <span class="tm-text-gray-light">{{article[2]}}</span>
                <span>{{article[4]}}</span>
            </div>
        </div>  
        {% endfor %}     
    </div>

    {% if username %}
        <div class="row tm-mb-90">
            <div class="col-12 d-flex justify-content-between align-items-center tm-paging-col">
                <a href="{{ url_for('ajouter') }}" class="btn btn-primary mb-2">Ajouter un article</a>
            </div>
        </div>
    {% endif %}

    <script src="js/plugins.js"></script>
    <script>
        $(window).on("load", function() {
            $('body').addClass('loaded');
        });
    </script>
</main>
{% endblock %}
